body {
    background-color: var(--cor-02);
    margin: 0;
}

header {
    z-index: 1000;
}

main {
    margin-top: 100px;
}

.decorative-image-top-right {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 80px;
    height: auto;
}

.decorative-image-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80px;
    height: auto;
}

.titulo-cadastro {
    font-size: 60px;
    font-weight: 500;
    font-style: italic;
}

.email-box {
    width: 60%;
}

.botao-voltar {
    border-radius: 11px;
}